.outer {
  position: relative;
  /* width: 50vw; */
  height: 100vh;
}
.outer img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
  object-fit: cover;
  object-position: center;
}
.content {
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  position: relative;
  z-index: 1;
}

.Home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: dense;
}
@media screen and (max-width: 600px) {
  .Home {
    display: table;
  }
}

.info_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.info {
  margin: 0 3rem;
  color: grey;
  font-size: 1.1rem;
  text-align: start;
}
.box {
  width: 100%;
}
